body {
    background-color: #121212;
    color: #fff;
  }

  .card {
    background-color: #1e1e1e;
    border: none;
  }

  .form-control {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #444;
  }

  .form-control:focus {
    background-color: #333;
    box-shadow: none;
  }

  * {
    color: #fff;
  }

  ::-webkit-input-placeholder{
    color: grey !important;
  }

  body {
      color: white;
  }

  #alt-gutter-x .g-5, .gx-5{
      --bs-gutter-x: 7rem;
  }

  input.no-arrows::-webkit-outer-spin-button,
  input.no-arrows::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type=number].no-arrows {
      -moz-appearance: textfield;
  }