textarea#info-input {
    width: 75%;
}

@media screen and (max-width: 500px){
    textarea#info-input {
        width: 20rem;
    }
}

body {
    color: #dddddd
}

label.form-label {
    margin-bottom: 0.2rem;
}

input.form-control, select.form-select, textarea.form-control {
    margin-left: 12px;
    border: 3px solid var(--bs-primary-text-emphasis);
}

input.form-control:focus, select.form-select:focus, textarea.form-control:focus {
    border: 3px solid initial;
}

input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].no-arrows {
    -moz-appearance: textfield;
}

@font-face {
    font-family: "dyslexia";
    src: url("/assets/fonts/OpenDyslexic3-Regular.ttf");
  }